<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista de pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid *ngIf="( _listaDeseos.listas | pendientes ).length === 0">
    <ion-row>
      <ion-col class="text-center caja-vacia">
        <ion-icon class="icono-grande" ios="ios-information-circle" md="md-information-circle"></ion-icon>
        <p>
          No hay ninguna lista.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let lista of _listaDeseos.listas | pendientes; let i = index">

    <ion-item (click)="verDetalle( lista, i)" >
      <ion-title>{{ lista.nombre }}</ion-title>
      <ion-note item-right>
        {{ lista.items.length }} items
      </ion-note>
    </ion-item>
    <hr>

    <ion-list *ngIf="!show">

      <ion-item (click)="actualizar(lista, item)"
      *ngFor="let item of lista.items | slice:0:2">
        <ion-icon item-left *ngIf="!item.completado" ios="ios-square-outline" md="md-square-outline"></ion-icon>
        <ion-icon item-left *ngIf="item.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
        <h2 [class.tachado]="item.completado">{{ item.nombre }}</h2>
      </ion-item>

  </ion-list>

  <ion-list *ngIf="show">
    <ion-item (click)="actualizar(lista, item)"
    *ngFor="let item of lista.items">
      <ion-icon item-left *ngIf="!item.completado" ios="ios-square-outline" md="md-square-outline"></ion-icon>
      <ion-icon item-left *ngIf="item.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
      <h2 [class.tachado]="item.completado">{{ item.nombre }}</h2>
    </ion-item>
  </ion-list>

    <ion-item (click)="show = !show" *ngIf="lista.items.length > 2" class="text-center">
      <ion-icon *ngIf="!show" ios="ios-arrow-dropdown-circle" md="md-arrow-dropdown-circle" color="primary"></ion-icon>
      <ion-icon *ngIf="show" ios="ios-arrow-dropup-circle" md="md-arrow-dropup-circle" color="primary"></ion-icon>
    </ion-item>

  </ion-card>

  <ion-fab right bottom>
   <button ion-fab color="primary" (click)="irAgregar()">
     <ion-icon ios="ios-add" md="md-add"></ion-icon>
   </button>
 </ion-fab>

</ion-content>
